<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <main>
      <div class='container'>
        <p><a class="blue-text text lighten-2" href="/auth/register"><blockquote>click here to register</blockquote></a></p>
        <p><a class="blue-text text lighten-2" href="/auth/login"><blockquote>click here to log in</blockquote></a></p>
        <p><a class="blue-text text lighten-2" href="/auth/logout"><blockquote>click here to logout</blockquote></a></p>
      </div>
    </main>
    <% include partials/footer.ejs %>
  </body>
</html>
